body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 10px 0 0 0;
  position: relative;
}

h1 {
  color: #333;
  margin-top: 0;
}
#countries-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: relative;
 
}

.country{
  padding: 10px;
  width: 240px;
  height: 220px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2); 
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: all .05s linear;
}
.country:hover{
  transform: scale(1.02);
  box-shadow:  1px 19px 28px -9px rgba(0,0,0,0.71);
}
.countryImage{
  width: 100%;
  height: 150px;
  border-radius: 6px;

}
.countryName{
  /* margin: 10px 0 0 0; */
  font-size: 20px;
}
.overlay{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  visibility: hidden;
  opacity: 0; 
  transition: all .2s linear; 
  /* pointer-events: none;  */
 
}
.overlay img{
  width: 40px;
  height: 40px;
  cursor: pointer;
  
}

.country-info{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden; 
}

.country-info--article{
  background-color: white;
  max-width: 400px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 16px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2); 
  border-radius: 4px;
  
  
}
.country-info--article:hover{
  transform: scale(1.01);
  box-shadow:  1px 19px 28px -9px rgba(0,0,0,0.71);
}

.country-info--article aside{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.country-info--article img{
  width: 250px;
  height: 140px;
}


.country-info--article div{
  margin-left: 12px;
  
    
}

.country-info--article h2{
  font-size: 16px;
    
}
.country-info--article p{
  font-size: 12px;
    
}

.country-info--article button{
  padding: 10px 20px;
  border: none;
  background-color: #4d93d8;
  font-size: 16px;
  color: white;
  font-weight: 900;
  border-radius: 6px;
  cursor: pointer;
  transition: all .1s linear;
}

.country-info--article button:hover{
  transform: scale(1.04);
}

.show{
  display:flex;
  visibility:visible;
  opacity: 1;
  /* pointer-events: all; */
}